<mat-card class="card" *ngIf="about">
  <mat-card-header>
    <mat-card-title>About {{name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content [innerHTML]="about" class="about-content"></mat-card-content>
</mat-card>
