<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Categories</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="categories">
    <p><app-category-list [categories]="categories" [selectedId]="categoryId"></app-category-list></p>
  </mat-card-content>
</mat-card>

<app-post-list [page]="page" [posts]="posts" [loading]="loading" [allPostsLoaded]="allPostsLoaded"
  (onLoadPage)="loadNextPage()"></app-post-list>
