<mat-card-header>
  <mat-card-title><a routerLink="/post/{{post.id}}" class="clickable">{{ post.title }}</a></mat-card-title>
  <mat-card-subtitle>
    by {{ post.authorDisplayName }} on
    <span [matTooltip]="getPostDateTooltip(post)" matTooltipClass="multiline-tooltip">{{ post.created | date }}</span>
    &bull; {{ post.views }} views
  </mat-card-subtitle>
</mat-card-header>
<a routerLink="/post/{{post.id}}"><img mat-card-image src="{{post.coverImageURL}}" class="post-card-image"></a>
<mat-card-content *ngIf="post.categories && post.categories.length > 0">
  <p><app-category-list [categories]="post.categories"></app-category-list></p>
</mat-card-content>
<mat-card-content [innerHTML]="post.synopsis" class="post-content post-synopsis"></mat-card-content>
<mat-card-content [innerHTML]="post.body" class="post-content" *ngIf="fullView"></mat-card-content>
<mat-card-actions *ngIf="!fullView" align="end">
  <a routerLink="/post/{{post.id}}">
    <button mat-button>CONTINUE READING <mat-icon iconPositionEnd>chevron_right</mat-icon></button>
  </a>
</mat-card-actions>
<mat-card-actions *ngIf="fullView">
  <a routerLink="/">
    <button mat-button><mat-icon>chevron_left</mat-icon> RETURN HOME</button>
  </a>
</mat-card-actions>
