<mat-toolbar color="primary" class="navbar" *ngIf="blog">
  <a routerLink="/" class="navbar-button" routerLinkActive="navbar-active-button"
    [routerLinkActiveOptions]="{exact:true}">
    <button mat-button><mat-icon *ngIf="blog.icon">{{blog.icon}}</mat-icon>{{blog.name}}</button>
  </a>
  <a routerLink="/categories" class="navbar-button" routerLinkActive="navbar-active-button" [state]="blog">
    <button mat-button>Categories</button>
  </a>
  <a routerLink="/about" class="navbar-button" routerLinkActive="navbar-active-button" *ngIf="blog.about"
    [state]="blog">
    <button mat-button>About</button>
  </a>
  <span class="navbar-spacer"></span>
</mat-toolbar>
<div class="main-content" *ngIf="blog">
  <router-outlet></router-outlet>
</div>

<mat-spinner *ngIf="loading" class="loading" mode="indeterminate"></mat-spinner>
