.main-content {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 88px;
}

.card {
    margin-bottom: 24px;
}

.navbar-spacer {
    flex: 1 1 auto;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.navbar-button {
    color: white;
}

.navbar-button :hover {
    background-color: #00000055;
}

.navbar-active-button button {
    background-color: #00000033;
}

.loading {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
