<mat-chip-listbox>
  <mat-chip-option selectable="false" *ngFor="let category of categories" [selected]="selectedId === category.id"
    routerLink="/categories/{{category.id}}">{{category.name}}</mat-chip-option>
</mat-chip-listbox>
