<mat-card *ngFor="let post of posts" class="card">
  <app-post-card [post]="post"></app-post-card>
</mat-card>

<button class="load-more" *ngIf="!loading && !allPostsLoaded" mat-button (click)="loadNextPage()">
  <mat-icon>expand_more</mat-icon> LOAD MORE POSTS
</button>

<p *ngIf="allPostsLoaded && page > 0" class="no-more">no more posts.</p>

<mat-spinner *ngIf="loading" class="loading" mode="indeterminate"></mat-spinner>
