/* You can add global styles to this file, and also import other style files */
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    font-weight: 300;
}

.multiline-tooltip {
    white-space: pre-line;
}

.multiline-tooltip .mdc-tooltip__surface {
    max-width: unset !important;
}

.clickable {
    text-decoration: none;
    color: #000;
}

.clickable:hover {
    text-decoration: underline;
}
